nav{
  background:linear-gradient(to right,rgb(236, 121, 14),rgb(148, 69, 17));
  color:azure !important;

}

ul{
  list-style: none;


}
span{
  color: aliceblue!important;
  font-size: larger;
  font-size: 30px;


}
li {

  cursor: pointer;

  color: azure !important;
  text-decoration: none;
margin-top: 6px;

}
  li a{

  cursor: pointer;
  font-size: 22px;
  color: azure !important;
  text-decoration: none;

}

.fas{
font-size: 19px;
padding-top: 6px;


  color: rgb(233, 233, 160);
}
.bi-handbag-fill{
  font-size: 19px;
padding-top: 2px;


  color: rgb(233, 233, 160)!important;

}
li:hover{
  cursor:pointer;
}
.btn{
  background-color: white;
 padding:10px;
 margin-left: 10px;
 color: rgb(238, 169, 79) !important;
 border-radius: 10px;
 border:none;

}

